.comment-form {
  grid-column: 1/-1;
  line-height: 18px;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    @include font-setting(20px, 30px);

    padding-bottom: 84px;
  }

  &__subtitle {
    text-transform: none;
    padding-bottom: 38px;

    @include font-setting(24px, 26px);

    @media (min-width: $tablet) {
      @include font-setting(36px, 36px);

      padding-bottom: 76px;
    }
  }

  &__comment::placeholder {
    text-transform: uppercase;
    color: $dark-grey;
    padding-top: 6px;
    padding-left: 12px;

    @media (min-width: $tablet) {
      padding-top: 10px;
      padding-left: 16px;
    }
  }

  &__comment {
    border: 1px solid $grey9;
    resize: none;
    min-height: 150px;
    width: 100%;

    &:hover {
      border: 1px solid $grey4;
    }

    &:focus {
      border: 2px solid $dark-grey;
      outline: none;
    }
  }
}
