.example-slider {
  position: relative;
  min-height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    background-color: $grey3;
    min-height: 460px;
  }

  @media (min-width: $desktop) {
    background-color: $grey;
  }

  &__condition-button {
    line-height: 20px;
    padding: 0;
    border: none;
    border-bottom: 1px $basik-black dotted;
    cursor: pointer;
    background-color: $grey3;

    &:hover {
      border-bottom: 1px $basik-black solid;
    }

    &:active {
      border: none;
    }

    @media (min-width: $tablet) {
      font-size: 20px;
    }
  }

  &__img--none {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  &__img {
    height: 232px;
    position: absolute;
    top: 16px;
    left: 53%;
  }

  &__img--skinny {
    display: none;
    height: 232px;
    position: absolute;
    top: 16px;
    left: 53%;
    transform: translateX(-50%);
    text-align: center;
    clip: rect(auto);

    @media (min-width: $tablet) {
      display: block;
      object-fit: contain;
      width: 727px;
      top: -156px;
      height: 500px;
      clip: rect(0 680px 500px 340px);
    }

    @media (min-width: $desktop) {
      width: 720px;
      top: -176px;
      left: 364px;
    }
  }

  &__img--fat {
    display: none;
    height: 232px;
    position: absolute;
    top: 16px;
    left: 48%;
    transform: translateX(-50%);
    text-align: center;

    @media (min-width: $tablet) {
      display: block;
      object-fit: contain;
      top: -156px;
      height: 500px;
      clip: rect(0 360px 500px 0);
    }

    @media (min-width: $desktop) {
      top: -176px;
      left: 330px;
    }
  }
}

.example-slider__img-mobile-skinny,
.example-slider__img-mobile-fat {
  position: absolute;
  object-fit: contain;
  left: 50%;
  transform: translateX(-50%);
  height: 232px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.img-container {
  @media (min-width: $tablet) {
    width: 760px;
    position: relative;
    margin: 0 auto;
  }
}

.example-slider__switch {
  margin-top: auto;
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop) {
    margin-right: 66px;
    margin-bottom: 18px;
  }
}

.example-slider__switch-range {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    margin-top: auto;
    padding-top: 62px;
    margin-bottom: 60px;

    @include padding-x(20px, 20px,);
  }
}

.slider-round {
  width: 430px;
  height: 10px;
  background: $grey8;
}

.example-slider__controls {
  margin: 0 18px;
  width: 84px;
  height: 14px;
  background-color: $basik-white;
  border: 1px solid $grey4;
  border-radius: 10px;
  display: flex;
  padding: 4px 6px;
  align-items: center;

  @media (min-width: $tablet) {
    display: none;
  }
}

.example-slider__button-switch {
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 50px;
  background-color: $basik-white;

  cursor: pointer;

  &--active {
    background-color: $green;
    cursor: auto;
  }
}
