.page-header {
  @include font-setting(20px, 20px);
  font-weight: $font-medium;
  z-index: 3;
  position: relative;

  @media (max-width: $mobile-only) {
    max-width: 600px;
  }

  &--index {
    border: none;
  }

  &__logo-wrapper {
    width: 100%;
    display: flex;
    max-width: 600px;
    margin: 0 auto;

    @include padding-x(20px, 20px);

    @media (max-width: $mobile-only) {
      border-bottom: 1px solid $grey6;
    }

    @media (min-width: $tablet) {
      padding: 0;
    }

    @media (min-width: $desktop) {
      margin: 0;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 8px;

    &__item:not(:last-child) {
      margin-right: 36px;
    }

    @include font-setting(18px, 24px);
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.page-header__menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin: 0 auto;
    padding-top: 28px;
  }

  &--wrapper {
    margin: 0 auto;

    @media (min-width: $tablet) {
      @include padding-x(30px, 30px);
    }

    @media (min-width: $desktop) {
      max-width: 1440px;

      @include padding-x(110px, 110px);
    }
  }

  &--index-dekstop {
    @media (min-width: $desktop) {
      position: absolute;
      width: 1440px;
    }
  }
}

.page-header__link {
  display: block;
  position: relative;
  color: $basik-black;

  &:hover {
    opacity: $opacity60;
  }

  &:active {
    opacity: $opacity30;
  }

  @include padding-y(22px, 22px);

  @media (min-width: $tablet) {
    font-weight: $font-regular;
    padding-top: 30px;

    @include font-setting(18px, 24px);
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }

  &--color {
    @media (min-width: $desktop) {
      color: $basik-white;
    }
  }

  &--logo {
    padding-bottom: 20px;
    padding-top: 22px;

    @media (min-width: $tablet) {
      padding-top: 26px;
    }

    &:hover {
      opacity: $opacity80;
    }

    &:active {
      opacity: $opacity60;
    }
  }

  &--active-index::after,
  &--active::after {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 61px;
      left: 0;
      border: none;
      background-color: $green;
    }
  }

  &--active-index::after {
    @media (min-width: $desktop) {
      background-color: $basik-white;
    }
  }
}

.page-header__list {
  text-align: center;
  display: grid;
  grid-column: 1fr;

  @media (min-width: $tablet) {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-width: 460px;
  }

  &--closed {
    @media (max-width: $mobile-only) {
      display: none;
    }
  }
}

.page-header__item {
  @media (max-width: $mobile-only) {
    border-bottom: 1px solid $grey6;
    min-height: 64px;
  }
}

.page-header__logo {
  position: relative;
  flex-grow: 1;
  text-align: center;
  padding-left: 22px;

  @media (min-width: $tablet) {
    padding-left: 0;
    margin-left: 0;
    flex-grow: 0;
    width: 174px;
  }

  @media (min-width: $desktop) {
    width: 202px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 38px;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
    background: url("../img/logo-mobile-image.svg") 50% 50% no-repeat;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.page-header__logo-img {
  @media (min-width: $tablet) {
    min-width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop) {
    min-width: 202px;
    height: 59px;
  }
}

.burger {
  margin-left: auto;
  border: none;
  width: 24px;
  height: 18px;
  margin-top: 20px;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }

  &--open {
    background: url("../img/menu-burger.svg") 50% 50% no-repeat;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &--close {
    background: url("../img/menu-burger-close.svg") 50% 50% no-repeat;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}
