.personal-data-form {
  min-width: 100%;
  min-height: 170px;
  display: flex;
  flex-direction: column;

  @include padding-y(24px, 24px);

  @media (max-width: $mobile-only) {
    border-bottom: 1px solid $grey7;
  }

  @media (min-width: $tablet) {
    @include font-setting(20px, 30px);
  }

  @media (min-width: $desktop) {
    grid-column: 1/2;
  }


  &__data {
    color: $dark-grey;

    @include padding-y(12px, 12px);
    padding-right: 14px;

    @media (min-width: $tablet) {
      padding-right: 18px;
    }
  }

  &__input {
    @media (min-width: $tablet) {
      padding-left: 4px;
    }
  }

  &__input::placeholder {
    color: $dark-grey;
    text-transform: uppercase;
  }
}

.personal-data-form__field {
  display: flex;
  width: 100%;

  @media (min-width: $desktop) {
    padding-right: 40px;
  }
}

.personal-data-form__field span {
  white-space: nowrap;
}

.personal-data-form__field input {
  width: 100%;
}

.personal-data-form__field:not(:last-child) {
  margin-bottom: 18px;
}
