.program-objective-form {
  @media (max-width: $mobile-only) {
    border-bottom: 1px solid $grey7;
  }

  @include padding-y(28px, 24px);

  @media (min-width: $tablet) {
    @include font-setting(20px, 30px);

    padding-top: 52px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop) {
    padding-top: 24px;
    grid-column: 2/-1;
  }

  &__data {
    color: $dark-grey-2;
  }

  &--wrapper {
    @media (min-width: $tablet) {
      padding-left: 70px;
    }

    @media (min-width: $desktop) {
      padding-right: 110px;
      padding-left: 40px;
    }
  }
}

.program-objective-form__list {
  padding-left: 45px;

  @media (min-width: $tablet) {
    border: 1px solid $grey9;
    padding-left: 88px;

    @include padding-y(24px, 24px);
  }

  @media (min-width: $desktop) {
    padding-top: 30px;
  }
}

.program-objective-form__field {
  position: relative;
}

.program-objective-form__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.program-objective-form__field input {
  display: none;
}

.program-objective-form__input + span::before {
  content: "";
  position: absolute;
  top: -4px;
  width: 34px;
  height: 34px;
  border: 1px solid $grey4;
  border-radius: 50%;
  left: -46px;

  @media (min-width: $tablet) {
    top: -6px;
    width: 42px;
    height: 42px;
    left: -62px;
  }

  @media (min-width: $desktop) {
    top: -6px;
    left: -62px;
  }
}

.program-objective-form__input:hover + span::before {
  border-color: $grey10;
}

.program-objective-form__input:checked + span::after {
  content: "";
  position: absolute;
  top: 6px;
  width: 14px;
  height: 14px;
  background-color: $green;
  border-radius: 50%;
  left: -36px;

  @media (min-width: $tablet) {
    top: 6px;
    width: 18px;
    height: 18px;
    left: -50px;
  }

  @media (min-width: $desktop) {
    top: 6px;
    left: -50px;
  }
}

.program-objective-form__input:disabled + span::before,
.program-objective-form__input:checked:disabled + span::after {
  opacity: $opacity30;
}

