.section-promo {
  @media (min-width: $desktop) {
    margin-bottom: 0;
  }

  &--catalog {
    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &--bg {
    position: relative;
    overflow: hidden;

    @media (max-width: $mobile-only) {
      background: url("../img/index-background-mobile.jpg") no-repeat 50% 0;
    }

    @media (min-width: $desktop) {
      background: url("../img/index-background-desktop.jpg") no-repeat 100% 0;
    }
  }

  &--bg::after {
    content: "";
    position: absolute;
    background-color: $green-opacity-85;

    @media (max-width: $mobile-only) {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 564px;
      height: 302px;
    }

    @media (min-width: $desktop) {
      right: 0;
      top: 0;
      width: 720px;
      height: 694px;
    }
  }
}
