.submission-form {
  min-height: 110px;
  text-align: center;
  width: 100%;

  @include padding-x(20px, 20px);

  @media (min-width: $tablet) {
    min-height: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    text-align: start;
    margin-bottom: 72px;
    grid-column: 1/-1;

    @include padding-x(70px, 70px);
  }

  @media (min-width: $desktop) {
    @include padding-x(110px, 110px);
    column-gap: 80px;
    grid-column: 1/-1;
    margin-bottom: 82px;
  }

  &__text {
    font-family: $Arial;
    font-weight: $font-regular;
    margin-top: 20px;

    @include font-setting(14px, 16px);
    text-transform: none;

    @media (min-width: $tablet) {
      margin-top: 14px;
      font-size: 16px;
    }

    @media (min-width: $desktop) {
      margin-top: 18px;
    }
  }
}

.submission-form__button {
  @media (max-width: $mobile-only) {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    min-height: 40px;
  }

  @media (min-width: $tablet) {
    width: 282px;
    height: 52px;

    @include font-setting(20px, 30px);
  }

  @media (min-width: $desktop) {
    width: 568px;
  }
}
