.button {
  font-family: $Oswald;
  font-weight: $font-regular;
  color: $basik-white;
  text-align: center;
  border: none;
  background-color: $green;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  @include padding-y(12px, 12px);

  &:hover {
    background-color: $green-2;
  }

  &:active {
    color: $basik-white-opacity30;
  }
}
