$basik-black: #000000;
$black2: #111111;

$basik-white: #ffffff;
$basik-white-opacity30: rgba(#ffffff, 0.3);

$grey: #f2f2f2;
$grey2: #ebebeb;
$grey3: #eaeaea;
$grey4: #cdcdcd;
$grey5: #666666;
$grey6: #e6e6e6;
$grey7: #d9d9d9;
$grey8: #dcdcdc;
$grey9: #e7e7e7;
$grey10: #bababa;
$dark-grey: #444444;
$dark-grey-2: #222222;

$dark-grey-opcity30: rgba(#444444, 0.3);

$green: #68b738;
$green-opacity-85: rgba(#68b738, 0.85);
$green-2: #5eaa2f;

$status-error: #ff8282;

$opacity30: 0.3;
$opacity60: 0.6;
$opacity80: 0.8;

