.page {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.page__body {

  font-family: $Oswald;
  font-size: 16px;
  font-weight: $font-regular;
  overflow-wrap: break-word;
  color: $basik-black;
  background-color: $basik-white;

  &--wrapper {
    @media (min-width: $desktop) {
      width: 1440px;
      margin: 0 auto;
    }
  }
}

.inner-wrapper-form,
.inner-wrapper {
  max-width: 600px;
  margin: 0 auto;

  @include padding-x(20px, 20px);

  @media (min-width: $tablet) {
    max-width: 1000px;

    @include padding-x(30px, 30px);
  }

  @media (min-width: $desktop) {
    max-width: 1440px;

    @include padding-x(110px, 110px);
  }
}

.inner-wrapper-form {
  margin: 0 auto;

  @media (min-width: $tablet) {
    @include padding-x(70px, 70px);
  }

  @media (min-width: $desktop) {
    @include padding-x(110px, 110px);
  }
}

.inner-wrapper-catalog {
  margin: 0 auto;

  @media (min-width: $tablet) {
    @include padding-x(30px, 30px);
  }

  @media (min-width: $desktop) {
    @include padding-x(110px, 110px);
  }
}

.outer-wrapper {
  margin: 0 auto;

  @media (min-width: $desktop) {
    width: 1440px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.uppercase-mod {
  text-transform: uppercase;
}
