@mixin font-setting($a, $b) {
  font-size: $a;
  line-height: $b;
}

@mixin padding-x($a, $b) {
  padding-left: $a;
  padding-right: $b;
}

@mixin padding-y($a, $b) {
  padding-top: $a;
  padding-bottom: $b;
}

@mixin centering($a, $b) {
  margin: $a $b;
}
